@{
    ViewBag.Title = "About";
}
    <content>
        <div id="mainPic">
            <img src="~/Images/About.PNG" alt="Alternate Text" />
        </div>
        <div class="nav1">
            <div>
                <img src="~/Images/secyGirl.PNG" alt="Alternate Text" />
            </div>
            <div>
                <h1>Velcome to VESOZ</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <h2>Win best online shop at 2020</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
        </div>
        <div class="nav1">
            <div>
                <h2>Our vission</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <div>
                <h2>Our mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <div>
                <h2>Our goal</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
        </div>
        <div class="nav1">
            <img src="~/Images/Sponsors.PNG" alt="Alternate Text" />
        </div>
    </content>