@{
    ViewBag.Title = "Contact";
}
<content>
    <div id="mainPic">
        <img src="~/Images/About.PNG" alt="Alternate Text" />
    </div>
</content>
<form action="" method="post">
    <div>
        <div class="p">
            <p>Tell us your message</p>
        </div>
        <label for="FullName">Your name</label>
        <br />
        <input type="text" id="FullName" value="" required placeholder="Full name" />
        <br />
        <label for="Email">Your E-mail</label>
        <br />
        <input type="email" id="Email" value="" required placeholder="Email adress" />
        <br />
        <label for="Subject">Subject</label>
        <br />
        <input type="text" id="Subject" value="" required placeholder="Subject" />
        <br />
        <label for="Message">Your message</label>
        <br />
        <textarea id="Message" placeholder="Message"></textarea>
        <br />
        <input type="submit" value="Send Message" />
    </div>
    <div id="Info">
        <div class="p">
            Contact Us
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <h3>Adress</h3>
        <p>Nušlova 11 Praha 5 158 00</p>
        <hr />
        <h3>Phone</h3>
        <a href="tel:+13115552368">Call: +131 155 523 68</a>
        <br />
        <a href="tel:+13115552368">Call: +420 605 205 824</a>
        <hr />
        <h3>Email</h3>
        <a href="mailto:example@example.com">Example@example.com</a>
        <br />
        <a href="mailto:lezecadam@gmail.com">lezecadam@gmail.com</a>
        <hr />
    </div>
</form>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.4301512471966!2d14.463010815934826!3d50.09695512065323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b9357fb6a7b05%3A0xd7fa6361519c5800!2sMol%C3%A1kova%20577%2F34%2C%20186%2000%20Praha%208-Invalidovna!5e0!3m2!1scs!2scz!4v1582707534621!5m2!1scs!2scz" width="100%" height="450" frameborder="0" style="border:0;padding:20px 0 20px 0 " allowfullscreen=""></iframe>