
@{
    ViewBag.Title = "Detail1";
    Layout = "~/Views/Shared/Menu.cshtml";
}

    <content>
        <div id="mainPic">
            <img src="~/Images/News.PNG" alt="Alternate Text" />
        </div>
        <div id="News">
            <h1>Adam Novák</h1>
            <br />
            <img src="~/Images/Admin.PNG" alt="Alternate Text" />
            <br />
            <img src="~/Images/BigBoy2.PNG" alt="Alternate Text" />
            <br />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <br />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce suscipit libero eget elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. In dapibus augue non sapien. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Suspendisse nisl. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Nullam at arcu a est sollicitudin euismod. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Etiam egestas wisi a erat. Quisque porta. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Pellentesque sapien. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Aliquam ornare wisi eu metus. Praesent in mauris eu tortor porttitor accumsan.</p>
        </div>
    </content>