@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/Menu.cshtml";

}

<content>
    <div id="mainPic">
        <img src="~/Images/News.PNG" alt="Alternate Text" />
    </div>
    <div id="News">
        <div class="Popis">
            <img src="~/Images/BigBoy.PNG" alt="Alternate Text" width="70%"/>
            <br />
            <a href="">Adam Novák</a>
            <br />
            <img src="~/Images/Admin.PNG" alt="Alternate Text" />
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <input type="button" name="name" value="Read more" onclick="~/Home/Detail1"/>
            <br />
            <img src="~/Images/BigBoy2.PNG" alt="Alternate Text" width="70%"/>
            <br />
            <a href="">Martin Novák</a>
            <br />
            <img src="~/Images/Admin.PNG" alt="Alternate Text" />
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <input type="button" name="name" value="Read more" onclick="~/Home/Detail2"/>
            <br />
            <img src="~/Images/BigBoy3.PNG" alt="Alternate Text" width="70%"/>
            <br />
            <a href="">Vlasatice</a>
            <br />
            <img src="~/Images/Admin.PNG" alt="Alternate Text" />
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <input type="button" name="name" value="Read more" onclick=""/>
        </div>
    </div>

</content>

